.background-containerblog {
  background-image: url('../images/ReserveBack.svg'); /* Укажите путь к вашему фоновому изображению */
  height: 550px; /* Высота будет зависеть от содержимого */
  width: 100%; /* Занимает всю ширину родительского контейнера */
  position: relative; /* Относительное положение */
  background-size: cover; /* Изображение заполняет контейнер */
  opacity: 0.75; /* Прозрачность фона */

z-index: -1;
}
.container {
  position: relative; /* Устанавливаем относительное положение для контейнера */
  z-index: 1; /* Устанавливаем z-index выше, чем у фона */
}