html {
    scroll-behavior: smooth;
}

/* Шрифты */
@font-face {
    font-family: 'dansing-script';
    src: url('fonts/DancingScript.ttf') format('truetype');
}

@font-face {
    font-family: 'Bellota';
    src: url(../fonts/Bellota-Regular.ttf) format("truetype");
}

.container-fluid {
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
}

/* Левая картинка */
.image-title img {
    display: block;
    margin: 0 auto;
    max-height: 70vh;
    width: auto;
    max-width: 90vw;
    object-fit: cover;
}

/* Левая секция */
.left-section {
    color: #f5e6c8;
    flex: 1 1 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 4vh 3vw;
}

/* Правая секция с картинкой */
.right-section {
    flex: 1 1 40%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-top: 10vh;
    padding-right: 3vw;
    height: 100%;
    position: relative;
    z-index: -1;
}

/* Заголовок */
.subtitle {
    font-size: clamp(18px, 2.5vw, 35px);
    font-family: 'Bellota';
    color: #DABB9E;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

/* Кнопка */
.btn-custom {
    background-image: radial-gradient(circle, #E0A872, #E0A872);
    color: #fcecd0;
    border-radius: 50px;
    font-size: clamp(16px, 2vw, 25px);
    height: clamp(40px, 6vh, 60px);
    width: clamp(200px, 40vw, 340px);
    font-family: 'Bellota';
    border: none;
    cursor: pointer;
    position: relative;
    margin-left: 5vw;
    z-index: 1;
}

.btn-custom::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    background-color: rgba(84, 55, 43, 0.4);
    border-radius: 50px;
    z-index: -1;
}

.btn-custom:hover {
    background-color: rgba(84, 55, 43, 0.9);
    transform: scale(1.05);
}

.imgright svg {
   width: clamp(100px, 45vw, 300px); /* адаптивная ширина */
    height: auto;                    /* сохраняем пропорции */
    display: block;
}

.custom-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 15vh; /* Отступ сверху, чтобы не налезала */
    margin-top: 5vh;   /* Дополнительный внешний отступ сверху */
}

.centered-big-image {
    width: 90%;
    max-width: 1600px;
    height: auto;
    display: block;
}